/*Reset css*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*Mulai desain custom*/
nav * {
    background-color: rgb(153, 191, 153);
    display: flex;
    justify-content: center;
    padding: 0.5vw;
    width: 100%;
    
}
nav {
    height: 4vw;
}
nav a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}
nav a:hover {
    color: rgb(71, 77, 69);
    font-size: 22px;
    transition: 0.2s;
}
#hero {
    position: relative;
    background-color: rgb(244, 241, 235);
    display: flex;
    justify-content: baseline;
}
h1 {
    font-size: 70px;
    margin-left: 3vw;
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 25px;
}
h5 {
    font-size: 23;
}
.perkenalan {
    margin-top: 25vw;
    margin: 6.5vw;
    position: relative;
}
.keterangan {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
#ImgContainer {
    position: relative;
    z-index: 1;
}
.random1 {
    position: absolute;
    z-index: -1;
    background-color: rgb(59, 135, 59);
    width: 30vw;
    height: 20vw;
    top: 240px;
    right: 70px;
    opacity: 0.3;
    border-radius: 0% 100% 32% 68% / 96% 72% 28% 4% ;
}
#mainImg {
    height: 37vw;
    margin-right: 10vw;
    margin-top: 3vw;
    margin-bottom: 5vw;
}
.sosmedContainer {
    margin-left: 1vw;
    background-color: rgb(59, 135, 59);
    width: 65%;
    border-radius: 45px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#instagram, #gitHub {
    width: 50%;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    padding: 1vw;
}
#instagram p, #gitHub p {
    color: white;
    font-size: 20px;
}
#toIG, #toGitHub {
    width: 3vw;
    height: auto;
}
#instagram:hover, #gitHub:hover {
    background-color: rgb(47, 95, 47);
}